
#adminmenuwrap {
    clear: left;
}
#adminmenuback {
    z-index: 0 !important;
}
body {
    height: auto !important;
    background: #F1F1F1 !important;
}

.btn:focus, .btn.active:focus, .btn:active, .btn.active {
    outline: none !important;
}
#main-content .panel-default > .page-header {
    background-color: #f5f5f5 !important;
}
.breadcrumb {
    background-color: transparent !important;
}
.clearfix {
    clear: both;
}

.box-border-box {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#wrap {
    margin-top: 20px;
}

#logo-img {
    margin-right: 10px;
    width: 154px;
}

#wrap-right-side {
    padding-left: 30px;
}

.sidebar-widget {
    padding: 5px 15px;
    margin-bottom: 30px;
    min-height: 150px;
}

.pakat-small-content {
    margin-top: 20px;
    display:block;
}

.pakat-small-content .panel-body{
    display: block;
}

.pakat-small-content .panel-body .row{
    display: block;
}

div.title {
    border-bottom: 1px solid #333;
    margin-right: 20px;
    margin-bottom: 20px;
}

.input-field {
    margin-bottom: 10px;
}

div.small-content1 {
    margin-top: 20px;
}

.sub-title {
    font-size: 16px;
    margin-bottom: 10px;
    text-decoration: underline;
}
div.tooltip {
    width: 350px !important;
}
button#send_email_btn {
    margin-top: 10px;
}
div#email_send_field{
    margin-top: 10px;
    display:grid;
}
input.has-success {
    border-color: #3c763d;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
input.error {
    border-color: rgb(196, 32, 74) !important;
    background-color: rgb(255, 255, 255);
}
ol.pakat-bread {
    margin-top: 30px;
}
.pakat-widget-title {
    margin-top: 10px;
    margin-bottom: 30px;
}
.pakat-widget-menu {
    margin-top: 20px;
}

div#pakat-field-form1 {
    margin: 10px;
    padding: 0px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /*min-height: 200px;*/
}

div.form-field {
    margin: 10px 0;
    padding: 0px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #f5f5f5;
}
#pakat-preview-form{
    padding: 0 24px 24px 24px;

}

div.small-content-1 {
    margin-top: 10px;
}

div.small-content2 {
    display: block;
    margin-left: 15px;
    margin-right: 15px;
}
div#main-content textarea{
    padding-left: 3px;
}

div.pakat-scenarios{
    padding-top: 20px;
}
.pakat-scenarios .thumbnail{
    min-height: 220px;
    padding: 16px 6px 0 6px;
}
.pakat-scenarios .thumbanail_focus:hover {
    border: 2px solid #3498db;
}
.pakat-scenarios .thumbanail_focus {
    cursor: pointer;
    border: 2px solid rgba(0, 0, 0, 0.09);
}
.pakat-radio-label
{
    font-weight: normal;
    margin-right: 20px;
    margin-bottom: 0px;
}
.pakat-captcha-key
{
    margin-top: 15px;
    margin-bottom: 15px;
}
/* ---------------------- */

.popover.right > .arrow {
    width: 0;
    height: 0;
    border-left: transparent !important;
    border-top: 10px solid transparent !important;
    border-bottom: 10px solid transparent !important;
    border-right:10px solid #dddddd !important;
    margin-left: 0px !important;
}

.popover.left > .arrow{
    left:auto;
}

#wrap-right-side #wrap-right-side p, #wrap-right-side a, #wrap-right-side span, #wrap-right-side strong {
    font-size: 12px !important;
}
div#main-content, div#main-content p, div#main-content a, div#main-content span, div#main-content strong {
    font-size: 14px;
}

input[type=radio]:focus {
    outline: 0 !important;
}
.pakat-content .page-header {
    /*margin-top: 20px !important;*/
    padding: 10px 15px !important;
    margin: 0 0 12px 0 !important;
    border-color: #ddd !important;
    display:block;
}

.popover-help-form {
    cursor: pointer;
}

#main-content  button {
    min-width: 100px;
}

a.pakat-scenario-link, a:hover.pakat-scenario-link {
    color: #333 !important;
    text-decoration: none !important;
}

#datamain{
    margin-top: 20px;
}
pre.script {
    vipakatility: hidden;
    display: none;
}

#pakat-sync-form label{
    margin: 4px 24px 0 7px;
    font-weight: normal;
}

.sync-modal-body .sync-row {
    margin: 6px 0 0 0;
    padding: 10px;
    border-bottom: solid 1px #ddd;
}
.sync-modal-body .row {
    margin: 10px 0 0 0;
}

.sync-row a{
    text-decoration: none;
    opacity: 0.5;
}
.sync-row a:hover,.sync-row a:focus{
    text-decoration: none;
    opacity: 1;
}
.pakat-terms-url {
    margin-top: 15px;
    margin-bottom: 15px;
}
.pakat-forms-wrapper i{
    font-size: 13px;
    color: #72777c;
}
.pakat-form-duplicate {
    margin-top:10px;
}
#pakat_final_confirm_template_id_area {
    padding-left: 0px;
}

.pakat-gdpr-block-area {
    margin-top: 15px;
    margin-bottom: 20px;
}
.pakat-gdpr-block-area textarea {
    margin-bottom: 10px;
}
.pakat-gdpr-block-area label {
    font-weight: 100;
    margin-left: 5px;
}

.pakat-statistics-data-value {
    padding-left: 3.5rem !important;
}

#pakat-statistics-date-container {
    margin-bottom: 10px;
}
label[for="pakat-statistics-date"] {
    margin-bottom: 0;
    line-height: 2.15384615;
    font-size: 15px;
}

.pakat-last-column-value {
    padding-left: 0 !important;
}

.pakat-spinner {
    float: none;
}
