<meta charset="UTF-8">
<body style="margin:0; padding:0;">
<table style="background-color:#ffffff" cellpadding="0" cellspacing="0" border="0" width="100%">
	<tbody>
		<tr style="border-collapse:collapse;">
			<td style="border-collapse:collapse;" align="center">
				<table cellpadding="0" cellspacing="0" border="0" width="540">
					<tbody>
						<tr>
							<td style="line-height:0; font-size:0;" height="20"></td>
						</tr>
					</tbody>
				</table>
				<table cellpadding="0" cellspacing="0" border="0" width="540">
					<tbody>
						<tr>
							<td style="line-height:0; font-size:0;" height="20">
							<div style="font-family:arial,sans-serif; color:#61a6f3; font-size:20px; font-weight:bold; line-height:28px;">
                                Merci pour votre inscription</div>
							</td>
						</tr>
					</tbody>
				</table>
				<table cellpadding="0" cellspacing="0" border="0" width="540">
					<tbody>
						<tr>
							<td style="line-height:0; font-size:0;" height="20"></td>
						</tr>
					</tbody>
				</table>
				<table cellpadding="0" cellspacing="0" border="0" width="540">
					<tbody>
						<tr>
							<td align="left">

								<div style="font-family:arial,sans-serif; font-size:14px; margin:0; line-height:24px; color:#555555;">
									<br>
                                    Vous venez de vous inscrire à la newsletter de {site_domain}.<br>
									<br>
									Si vous souhaitez ne plus recevoir nos emails, vous pouvez <a href="[UNSUBSCRIBE]" title="Se désinscire">vous désinscrire ici</a>.<br>
									<br>
									-Pakat</div>
							</td>
						</tr>
					</tbody>
				</table>
				<table cellpadding="0" cellspacing="0" border="0" width="540">
					<tbody>
						<tr>
							<td style="line-height:0; font-size:0;" height="20">
								 </td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
</body>
