<meta charset="UTF-8">
<body style="margin:0; padding:0;">
<table style="background-color:#ffffff" cellpadding="0" cellspacing="0" border="0" width="100%">
	<tbody>
		<tr style="border-collapse:collapse;">
			<td style="border-collapse:collapse;" align="center">
				<table cellpadding="0" cellspacing="0" border="0" width="540">
					<tbody>
						<tr>
							<td style="line-height:0; font-size:0;" height="20"></td>
						</tr>
					</tbody>
				</table>
				<table cellpadding="0" cellspacing="0" border="0" width="540">
					<tbody>
						<tr>
							<td style="line-height:0; font-size:0;" height="20">
							<div style="font-family:arial,sans-serif; color:#61a6f3; font-size:20px; font-weight:bold; line-height:28px;">
								Confirmez votre inscription</div>
							</td>
						</tr>
					</tbody>
				</table>
				<table cellpadding="0" cellspacing="0" border="0" width="540">
					<tbody>
						<tr>
							<td style="line-height:0; font-size:0;" height="20"></td>
						</tr>
					</tbody>
				</table>
				<table cellpadding="0" cellspacing="0" border="0" width="540">
					<tbody>
						<tr>
							<td align="left">

								<div style="font-family:arial,sans-serif; font-size:14px; margin:0; line-height:24px; color:#555555;">
									<br>
									Voulez vous recevoir les newsletters de {site_domain} ?<br>
									<br>
									<a href="{subscribe_url}" style="color:#ffffff;display:inline-block;font-family:Arial,sans-serif;width:auto;white-space:nowrap;min-height:32px;margin:5px 5px 0 0;padding:0 22px;text-decoration:none;text-align:center;font-weight:bold;font-style:normal;font-size:15px;line-height:32px;border:0;border-radius:4px;vertical-align:top;background-color:#3276b1" target="_blank">
									<span style="display:inline;font-family:Arial,sans-serif;text-decoration:none;font-weight:bold;font-style:normal;font-size:15px;line-height:32px;border:none;background-color:#3276b1;color:#ffffff">Yes, subscribe me to this list.</span></a>
									<br>
									<br>
                                    Si vous recevez cet email par erreur, vous pouvez simplement le supprimer. Vous ne serez pas inscrit à la newsletter si vous ne cliquez pas sur le lien de confirmation ci-dessus.
									<br><br>
									-Pakat</div>
							</td>
						</tr>
					</tbody>
				</table>
				<table cellpadding="0" cellspacing="0" border="0" width="540">
					<tbody>
						<tr>
							<td style="line-height:0; font-size:0;" height="20">
								 </td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
</body>
